<h1>Show Details</h1>
<ul>
	<% @users.each do |user| %>

	<li>
		<%= user.name %>
	</li>

	<li>
		<%= user.email %>
	</li>

	<li>
		<%= user.age %>
	</li>

   	<li>
		<%= user.address %>
	</li>
<% end %>
</ul>

<%= link_to "back to index page",users_path %><br>
<%= link_to "Edit the details",edit_user_path %>
